.App {
  text-align: center;
}

.settings-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.data-table {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 10px;
}

.data-button {
  margin-right: 10px;
}

.select-box {
  display: flex;
}

.search-input {
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}